header {
    font: normal 18pt Arial;
}
input {
    height: 60px;
    width: 200px;
    font: normal 12pt Arial;
}
p {
    font: normal 12pt Arial;
}
div#res {
    margin-top: 30px;
    font: normal 25pt Arial;
}
div#res2 {
    margin-top: 30px;
    font: normal 14pt Arial;
}
b#red {
    background-color: rgb(238, 84, 84);
    color: rgb(134, 14, 14);
    font: normal 13pt Arial;
    width: max-content;
}
b#green {
    background-color: rgb(103, 231, 103);
    color: rgb(11, 107, 11);
    font: normal 13pt Arial;
    width: max-content;
}
b#lara {
    color: rgb(214, 133, 57);
    font: normal 13pt Arial;
    width: max-content;
}